<nav>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="methods" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="methods">
          <button routerLink="/sort-buble" class="dropdown-item">Buble sorting</button>
          <button routerLink="/sort-insertion" class="dropdown-item">Insertion sorting</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


