<div class="row">
  <div class="col-sm-6">
    <div id="logo"></div>
  </div>
  <div class="col-sm-6">
    <h1> Welcome to {{title}} ! </h1>  
  </div>
</div>
<nav>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="methods" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="methods">
          <button routerLink="/page-a" class="dropdown-item">PageA</button>
          <button routerLink="/page-b" class="dropdown-item">PageB</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


